body {

}

h1 {
  margin-right: 0 auto;
}

a:link {
  color: DC143C;
}

a:visited {
  color: goldenrod;
}

fieldset {
  border-width: thin;
  border-radius: 20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p, li, form, a, figcaption, dd {
  font-family: 'Slabo 27px', serif;
}

footer {
  text-align: center;
}