body {

}

a :visited {
  color: orange;
}

fieldset {
  border-style: ;
  border-color: ;
  border-width: thin;
  border-radius: 20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p, li, form, a, figcaption, dd {
  font-family: 'Slabo 27px', serif;

}